
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background: linear-gradient(45deg, #000000, #525252);
    opacity: 0.9;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

header .logo {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background 0.3s ease;
    font-size: 1.2rem;
}

header ul li a:hover,
header ul li a.active {
    background: rgba(255, 255, 255, 0.1); 
}

.btn {
    padding: 10px 20px;
    background: linear-gradient(45deg, #a3a3a3, #393939);
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    display: inline-block;
    margin-top: 10px;
}

.btn:hover {
    background: linear-gradient(45deg, #32CD32, #FFD700);
    transform: translateY(-3px);
}


.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo img {
    width: 100px;
}

.slogan {
    margin-top: -0.7rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.search-bar {
    margin: 10px auto;
    text-align: center;
}

.search-bar input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px; 
}

.search-bar button:hover {
    background-color: #45a049;
}



.auth-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.auth-buttons button {
    padding: 8px 12px;
    margin-left: 5px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.auth-buttons button:hover {
    background-color: #ddd;
}

main {
    padding: 20px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
}

.article {
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff; 
    border-radius: 6px;
}

.article img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 650px) {
    .article {
        width: 100%;
        margin-right: 0;
    }
}


.categories {
    margin-top: 30px; 
}

.categories h2 {
    border-bottom: 2px solid #000;
    text-align: center;
    padding-bottom: 10px;
}

.categories ul {
    list-style-type: none;
    padding: 0;
    text-align: center; 
}

.categories ul li {
    margin: 20px;
}

.categories ul li a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
}

.categories ul li a:hover {
    text-decoration: underline;
}


footer {
    background: linear-gradient(45deg, #393939, #a3a3a3);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 30px; 
}

.footer-nav {
    margin-top: 1rem;
}

@media (max-width: 500px) {
    .auth-buttons {
        position: static;
        text-align: center;
        margin-top: 10px;
    }

    .auth-buttons button {
        display: inline-block;
        margin: 5px;
    }

    .logo h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {
    .article {
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 450px) {
    .categories ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .categories ul li {
        width: calc(50% - 20px);
        margin: 10px;
    }
}
